#Titulo{
    background-color: var(--primary-100);
    color: var(--text-300);
    padding: 7px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    position: relative;
    top: 10px;
}
section > :not(:first-child) {
    background-color: var(--bg-200);
    padding: 10px;
    align-content: center;
    text-align: left;
    width: 60%;
    position: relative;
    margin-top: 5%;
    left: 20%;
    border-radius: 10px;
}

#BotonesEdicion, #ContenedorNombres,#ContenedorContacto,#ContenedorOpciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#ContenedorFechas{
    display: flex;
    flex-wrap: wrap;
}

#BotonesEdicion p{
    padding: 10px;
    margin: 10px;
}

#BotonCerrarSesion{
    background-color: var(--accent-200);
    color: var(--text-300);
    padding: 20px;
    text-align: center;
}

h2{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 20px;
}
h3{
    font-weight: bold;
    font-size: 1.2em;
}
p[id*=Relleno]{
    background-color: var(--primary-300);
    border-radius: 10px;
    width: 150px;
}
p[id*=CheckMark]{
    background-color: var(--primary-300);
    border-radius: 10px;
    width: 1%;
}

p{
    padding: 10px;
}

#ContenedorNombres,#ContenedorDireccion,#ContenedorTelefono{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#ContenedorDireccion {
    margin-right: 5px;
}

div[id*="ContenedorNombres"],div[id*="ContenedorDireccion"],div[id*="ContenedorTelefono"]{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-top: 10px;

}
#FechaYFormulario,#HoraYFormulario{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
#Cuadrada{
    background-color: var(--primary-300);
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 15%;
}

input{
    background-color: var(--primary-300);
    border-color: transparent;
    border-radius: 10px;
    margin-left: 7px;
    padding: 5px;
}
#ContenedorContacto{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px 5px;
}