@import url('../../css/styles.css');



#flex-container {
    display: flex;
    flex-wrap: wrap;
}

#flex-container > * {
    width: 45%;
    margin: 20px auto;
}
.service-description > * {
    background-color: var(--bg-200);
    margin: 30px auto;
    border-radius: 10px;
    padding: 4px 15px;
    box-shadow:  15px 25px  45px var(--bg-300);
}

.material-necesary {
    background-color: var(--bg-200);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: center;
    align-content: center;
    box-shadow:  15px 25px  45px var(--bg-300);
}

#status-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

}
.material-necesary>article{
    background-color: var(--bg-100);
    border: var(--accent-200) 2px solid;
    border-radius: 20px;
    margin: 20px 20px;
    padding: 10px 12px;
}
#send-evidence{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    background-color:var(--primary-100);
    width: 75%;
    text-align: center;
    margin: 10px auto;
    border-radius: 15px;
    padding: 5px;
}
p{
    padding:5px;
}
#status-select {
    background-color: var(--bg-100);
    border-color: var(--primary-200);
    text-align: center;
    margin: 0px auto;
    padding: 8px;
    border-radius: 25px;
}

