@import url('../../css/styles.css');

button {
    border-radius: 25px;
    padding: 8px 25px;
}

.red-button {
    background-color: #d94646;
    border-color: #d23939;
}

.accent-button {
    background-color: var(--accent-200);
    border-color: var(--accent-100);
}

button a {
    color: var(--text-300);
    text-decoration: none;
}

h1 {
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}
h2{
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    color: var(--text-300);
}
.blue-button {
    background-color:  var(--primary-100);
    border-color: var(--primary-200);
}
.yellow-button {
    background-color:  var(--primary-200);
    border-color: var(--primary-100);
}
.title-view{
    text-align: center;
    color: aliceblue;
    background-color: var(--primary-100);
    margin: 20px auto;
    padding: 5px;
    width: 75%;
    border-radius: 30px;
}
a{
    text-decoration: none;
    font-size: 25px;
}
p{
    font-size: 20px;
}