@import url('../../css/styles.css');

button {
    border-radius: 25px;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 450;
    color: var(--text-300);
    border: 2px solid;
}

.red-button {
    background-color: #d94646;
    border-color: #d23939;
}

.accent-button {
    background-color: var(--accent-200);
    border-color: var(--accent-100);
}

button a {
    color: var(--text-300);
    text-decoration: none;
}

h1 {
    text-align: center;
    font-weight: 500;
}

main {
    margin-top: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

select {
    -webkit-appearance: none;
    padding: 10px 25px;
    border-radius: 25px;
    background-color: var(--accent-200);
    border-color: var(--accent-100);
    cursor: pointer;
    font-size: 16px;
    font-weight: 450;
    color: var(--text-300);
    text-align: center;
}

select option {
    padding: 10px 25px;
    background-color: var(--accent-200);
    border-color: var(--accent-100);
    color: var(--text-300);
    text-align: center;
}