#user-index-main {
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 30px;
}

#user-index-main section {
    max-width: 1000px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleSection {
    font-size: 30px;
    font-weight: 600;
}


.cardContainer {
    height: 550px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.card {
    border: 1px solid var(--text-200);
    border-radius: 20px;
    padding: 0 10px;
    height: 100%;
    width: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card .titleCard {
    background-color: var(--primary-100);
    color: var(--text-300);

    padding: 15px 10px;
    width: 90%;
    border-radius: 20px;
    text-align: center;
}

.card .contentCard {
    padding: 0 40px 0 0;
    text-align: justify;
    font-weight: 400;
}

.card .footerCard {
    text-align: center;
    color: var(--primary-100);
}

.buttonContainer {
    margin: 20px 0;
    width: 30%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttonContainer a {
    background-color: var(--primary-100);
    width: 100%;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    color: var(--text-300);
    text-align: center;
    transition: 0.3s ease;
}

.buttonContainer a:hover {
    letter-spacing: 2px;
    background: var(--accent-200);
    color: var(--primary-100);
}

footer {
    position: relative;
    width: 100%;
    margin: 50px 0 0 0;
}

footer .imgItem {
    position: absolute;
    top: -250%;
    left: 70%;
    height: 350%;
}

footer p {
    position: absolute;
}