#contenedor {
    display: flex;
    background-color: var(--bg-300);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
    width: 80%;
}


.formulario {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario h2 {
    margin-bottom: 20px;
    color: var(--primary-100);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.formulario div {
    margin: 20px auto 20px auto;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--text-100);
}

.form-group input {
    padding: 10px;
    border: 1px solid var(--bg-300);
    border-radius: 5px;
    color: var(--text-100);
}

.formulario button {
    padding: 10px;
    background-color: var(--primary-100);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.formulario p {
    margin-top: 10px;
    text-align: right;
    color: var(--text-200);
}