:root{
    --primary-100:#005B99;
    --primary-200:#4e88ca;
    --primary-300:#b7e9ff;
    --accent-100:#FFD700;
    --accent-200:#e9aa2b;
    --text-100:#333333;
    --text-200:#5c5c5c;
    --text-300:#FFFFFF;
    --bg-100:#F5F5F5;
    --bg-200:#ebebeb;
}

body{
    background-color: var(--bg-100);
    position : static;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
h1{
    font-family:Helvetica;
    color: var(--bg-200);
}
/* header imagen y boton de cerrar sesion */
header{
    background-color: var(--primary-300);
    top: 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
header>*{
    border: 1px solid red;
}
header img{
width: 150px;
}