@import url('../../css/styles.css');

.titulo {
    background-color: var(--primary-100);
    margin: 20px auto;
    padding: 5px;
    width: 50%;
    border-radius: 30px;
}

#contenedor_flex {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    width: 85%;
    margin: 20px auto;
}

#contenedor_flex > * {
    width: 30%;
    margin: 20px 20px;
    background-color: var(--primary-100);
    border-radius: 50px;
    border: 2px solid var(--accent-200);
    padding: 100px;
}

#siguiente {
    background-color: var(--accent-100);
    text-align: right;
}
