@import url('../../css/styles.css');



/* nombre  myen menasje de bienvenidad al tecnico */
.technician-welcome {
    background-color: var(--accent-200);
    margin: 20px auto;
    padding: 5px;
    width: 50%;
    border-radius: 30px;
}

/* main se hace flex el unico hijo que es div */
main > div {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 20px auto;

}

#flex-container > * {
    background-color: var(--bg-200);
    margin-right: auto;
}

/* clase de todos los titulos de las opciones que tenemos */
.title {
    background-color: var(--primary-100);
    padding: 5px;
    border-radius: 40px;
    color: var(--text-300);
    width: 90%;
    margin: 10px auto;
}

/* contenedro donde se mostraran los servicios del dia para el tecnico */
.list-services {
    width: 45%;
    text-align: center;
}

.list-services > article {
    background-color: var(--primary-300);
    border-radius: 8px;
    width: 80%;
    padding: 5px;
    margin: 10px auto;
}

/* contendro donde se mostrar el materia lqeu el tecnico cuenta en almacemn */
.list-material {
    width: 45%;
    text-align: center;
}
.list-material>article{
    background-color: var(--bg-100);
    border: var(--accent-200) 2px solid;
    border-radius: 20px;
    margin: 20px 20px;
}

