@import url('../../css/styles.css');

.nombre_servicio {
    background-color: var(--primary-100);
    margin: 20px auto;
    padding: 5px;
    width: 50%;
    border-radius: 30px;
}

#contenedor_flex {
    display: flex;
    flex-wrap: wrap;
}

#contenedor_flex > * {
    width: 45%;
    margin: 20px auto;
}

.descripcion_servicio > * {
    background-color: var(--bg-200);
}

#envio_evidencia {
    background-color: var(--accent-100);
}
